<% include partials/header %>
<div class="container">
    <header class="jumbotron">
		<div>
			<h1 class="text-center">Welcome to FindCampground</h1>
			<p class="text-center">Welcome to our site.</p>
			<p class="text-center">
				<a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
            </p>
            <p class="text-center">
                <a class="btn btn-primary btn-lg" href="/campgrounds">See All Campgrounds</a>
            </p>
		</div>
    </header>
</div>
<% include partials/footer %>