body{
    font-family: 'Philosopher', sans-serif;
}
.img-thumbnail img{
    width: 100%;
}
.img-thumbnail {
    padding: 0;
}
.img-thumbnail .caption-full{
    padding: 9px;
}
.myForm{
    width: 40%; 
    margin: 30px auto;
}
